[submodule "src/perception/video_stream_opencv"]
	path = src/perception/video_stream_opencv
	url = git@github.com:SAVED-DSE-Project-TU-Delft-2020/video_stream_opencv.git
[submodule "src/perception/darknet_ros"]
	path = src/perception/darknet_ros
	url = git@github.com:SAVED-DSE-Project-TU-Delft-2020/darknet_ros.git
[submodule "src/perception/train_yolo/Yolo-Annotation-Tool-New-"]
	path = src/perception/train_yolo/Yolo-Annotation-Tool-New-
	url = git@github.com:SAVED-DSE-Project-TU-Delft-2020/Yolo-Annotation-Tool-New-.git
[submodule "src/perception/train_yolo/darknet"]
	path = src/perception/train_yolo/darknet
	url = git@github.com:SAVED-DSE-Project-TU-Delft-2020/darknet.git
